/* Celular  Extra Small size display*/


@media all and (max-width: 768px){

.bridge{
    display: block;
    margin: auto;
    height: 200px;
    width: 100%; 
    background-size: 100% 100%;
}




/* Tablet  Small size display*/

@media  all  and (min-width: 768px) and (max-width: 992px ){

.bridge{
    display: block;
    margin: auto;
    height: 300px;
    width: 100%; 
    background-size: 100% 100%;
}



/* Laptop  Medium size display*/

@media  all  and (min-width: 992px) and (max-width: 1200px ){

.bridge{
    display: block;
    margin: auto;
    height: 400px;
    width: 100%; 
    background-size: 100% 100%;
}

/* Desktop  Large size display*/

@media all and (min-width: 1200px){

.bridge{
    display: block;
    margin: auto;
    height: 450px;
    width: 100%; 
    background-size: 100% 100%;
}