body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #eeeeee; }

.blackbox {
  color: white;
  background-color: black; }

.txt--centrado {
  text-align: center; }

.imagen {
    display: block;
    margin: auto;
    height: 300px;
    width: 100%; 
    background-size: 100% 100%;
}

.resize {
    display: block;
    margin: auto;
    height: 300px;
    width: 450px; 
    background-size: 100% 100%;
}


.footer {
  padding: 20px;
  text-align: left; }

.botonblack{
	color: black;
	background-color: white;
	padding: 1%;
	text-align: center;
}

a{
	padding: 2%;
}

i{
	margin: auto;
	display: block;
}

.pagination li{
	height: 60px;
}


span.badge.new{
	margin: 1%;
}

.btn, .btn-large, .btn-small {
	background-color: black !important;
	color: white !important;

}

.tarjeta{
  background-color: white;
  box-shadow: 2px 2px 2px #888888 ;
  padding-bottom: 2%;
}

.padding{
  padding: 1%;
}

.gris{
  color: #bdbdbd;
  font-size: 1.125em;
}

.subtitulo{
  font-weight: bold;
  font-size: 1.125em;
}

.white{
  background-color: white;
}